node_modules
web/node_modules
*.pt
*.obj
*.mtl
python/assets/*
python/callibration/*
python/output/*
python/checkpoints/*

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

*.jpg