#main {
    transform: scaleY(-1);
    display: flex;
    width: 100%;
    height: 100%;
}

#three-container {
    width: 50%;
    height: 100%;
    flex: 0 0 auto;
    /* 확인용 배경색 */
}


#ui {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
}

.hologram-button {
    font-size: 15px;
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "ROND" 100;
    color: #00f0f0;
    border: 2px solid #00f0f0;
    border-radius: 10px;
    padding: 10px 20px;
    text-transform: uppercase;
    background: rgba(0, 204, 204, 0);
    transition: all 0.3s ease-in-out;

    &:hover {
        background: rgba(0, 204, 204, 0.5);
        transform: scale(1.05);
        cursor: pointer;
    }
}

.hologram-text {
    font-size: 15px;
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "ROND" 100;
    color: #00f0f0;
    border: 2px solid #00f0f0;
    border-radius: 10px;
    padding: 10px 20px;
    text-transform: uppercase;
    background: rgba(0, 204, 204, 0);
    transition: all 0.3s ease-in-out;
}

#fabric-container {
    position: relative;
    top: 0;
    left: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

#fabric-canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    width: 500px;
    height: 500px;
    aspect-ratio: 1 / 1;
}

.image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    width: 500px;
    height: 500px;
}

.loading-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .spinner {
        display: flex;
        justify-content: space-around;
        width: 100px;
    }

    .dot {
        width: 20px;
        height: 20px;
        background-color: #3498db;
        border-radius: 50%;
        animation: bounce 1.5s infinite ease-in-out;
    }

    .dot:nth-child(2) {
        animation-delay: 0.3s;
    }

    .dot:nth-child(3) {
        animation-delay: 0.6s;
    }

    @keyframes bounce {

        0%,
        80%,
        100% {
            transform: scale(0);
        }

        40% {
            transform: scale(1);
        }
    }
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.customized-window {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.horizontal-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: left;
    width: 100%;
}


.prompt {
    background-color: #384d3c;
    border-style: solid;
    border-color: #16975F;
    border-width: 1px;
    opacity: 0.8;
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 500px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.7;
}

.edit-prompt {
    width: 500px;
    /* 고정 너비 */
    height: 100px;
    background-color: #384d3c;
    opacity: 0.8;
    color: white;
    /* 최소 높이 설정 */
    border: 1px solid #16975F;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    line-height: 1.7;
    resize: none;
    /* 수동 리사이즈 비활성화 */
    overflow-y: auto;
    /* 스크롤 숨김 */
    outline: none;
    margin-top: 10px;
    margin-bottom: 20px;
}

.edit-prompt:focus {
    border-color: #00c170;
}

.instruction {
    max-height: 700px;
    overflow: auto;
    background-color: #384d3c;
    border-style: solid;
    border-color: #16975F;
    border-width: 1px;
    opacity: 0.8;
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 500px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.instruction::-webkit-scrollbar {
    display: none;
}

.fake-cursor {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    /* 클릭 방해 금지 */
    //transform: scaleY(-1);
    z-index: 10000;
}